.sv_image_image {
  width: "100%";
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}
.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}
.circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}
@keyframes progress {
  from {
    stroke-dasharray: 0 100;
  }
}
.circle-text {
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
